h1{
color: red;
}
#first{
    color: blueviolet;
}
#second{
    color: aqua;
}
#third{
    color: brown;
}
.box{
    
    display: flex;
    justify-content: left;
}
.one{
    
    justify-content:center;
}